---
layout: default
title: "Main Page"
description: "Main page"
---

<div class="about">
  <p>
  Hi, I'm Wesley. In the past, I worked on <a href="https://fuchsia.googlesource.com/fuchsia/">Fuchsia</a> (a new, open-source operating system), wrote code for robots on <a href="http://www.citruscircuits.org/">Citrus Circuits</a>, and hung out doing interesting things at the <a href="https://www.recurse.com/scout/click?t=288aaf8d6ddfba372520ec10690a1e1b">Recurse Center</a>. I use they/them pronouns.
  <br>
  <br>
  You may also be interested in my <a href="https://notebook.wesleyac.com/">notebook</a> or <a href="https://wesleyac.thoughts.page">thoughts</a>.
  <br>
    {% include calltoaction.html %}
  </p>
</div>

<ul class="article-list">
  {% for post in site.posts %}
  {% if post.hide != true %}
    <li class="article-list-item">
      <a href="{{ post.url | relative_url }}" title="{{ post.title }}">
        <h2>{{ post.title }}</h2>
      </a>
      <div class="article-list-date">
        {{ post.date | date: "%B %-d, %Y" }}
      </div>
    </li>
  {% endif %}
  {% endfor %}
</ul>
