<style>
#graph-div-{{ include.id }} {
  float: left;
  width: 400px;
}

#input-div-{{ include.id }} {
  height: 320px;
  width: auto;
  margin-left: 410px;
}

.slider-input {
  display: block;
  width: 100%;
}

.slider-input::-moz-range-track {
    border-radius: 8px;
    height: 7px;
    border: 1px solid #bdc3c7;
    background-color: #fff;
}

.slider-input::-moz-range-thumb {
    background: #ecf0f1;
    border: 1px solid #bdc3c7;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.clear-col {
  clear: both;
}
</style>

<div>
  <div id="graph-div-{{ include.id }}">
    <div id="graph-{{ include.id }}" style="width:400px;height:200px"></div>
  </div>
  <div id="input-div-{{ include.id }}">
    <div id="input-p-value-{{ include.id }}">P: 0</div> <input type="range" class="slider-input" id="input-p-{{ include.id }}" onchange="ns{{ include.id }}.updateSliders()" min="0" max="500" step="0.05" value="0" />
    <div id="input-i-value-{{ include.id }}">I: 0</div> <input type="range" class="slider-input" id="input-i-{{ include.id }}" onchange="ns{{ include.id }}.updateSliders()" min="0" max="500" step="0.05" value="0" />
    <div id="input-d-value-{{ include.id }}">D: 0</div> <input type="range" class="slider-input" id="input-d-{{ include.id }}" onchange="ns{{ include.id }}.updateSliders()" min="0" max="500" step="0.05" value="0" />
    <div>Goal:</div> <input type="number" id="input-goal-{{ include.id }}" onchange="ns{{ include.id }}.updateSliders()" value="5" />
    <div>Start:</div> <input type="number" id="input-start-{{ include.id }}" onchange="ns{{ include.id }}.updateSliders()" value="8" />
  </div>
  <div class="clear-col"></div>
</div>

<script>{% include projects/control2/dygraphs.js %}</script>

<script>

function sign(number) {
  return number?number<0?-1:1:0
}

var ns{{ include.id }} = {
timestep: 0.01,

goal: 5,

updateState: function() {
  this.elevator.xdot += this.elevator.xddot * this.timestep;
  this.elevator.x += this.elevator.xdot * this.timestep;
},

setForce: function(force){
  // a = F / m
  this.elevator.xddot = (force / this.elevator.mass) - (this.elevator.ff / this.elevator.mass * this.elevator.xdot) - this.elevator.fg;
},

data: [],

  graph: new Dygraph(document.getElementById("graph-{{ include.id }}"), [[0,0,0]],
{
  drawPoints: true,
  showRoller: true,
  valueRange: [0.0, 10.0],
  labels: ['Time', 'Height', "Goal"]
}),

kp: 0,
ki: 0,
kd: 0,
last_x: 0,
integral: 0,

controlFunc: function(x, goal) {
  e = goal - x;
  deriv = x - this.last_x;
  this.integral += e * this.timestep;

  this.last_x = x;

  return (e * this.kp) + (this.integral * this.ki) - (deriv * this.kd);
},

runControlFunc: function() {
  force = this.controlFunc(this.elevator.x, this.goal);
  this.setForce((force < -1.0 ? -1.0 : (force > 1.0 ? 1.0 : force)) * 5000)
},

reset: function() {
  this.elevator = {
    'x': 8,
    'xdot': 0,
    'xddot': 0,
    'ff': 10,
    'fg': 9.8,
    'mass': 100
  };
  this.integral = 0;
},

updateSliders: function() {
  document.getElementById("input-p-value-{{ include.id}}").innerHTML = "P: " + parseInt(document.getElementById("input-p-{{ include.id}}").value) * 0.005;
  document.getElementById("input-i-value-{{ include.id}}").innerHTML = "I: " + parseInt(document.getElementById("input-i-{{ include.id}}").value) * 0.005;
  document.getElementById("input-d-value-{{ include.id}}").innerHTML = "D: " + parseInt(document.getElementById("input-d-{{ include.id}}").value) * 0.2;
  this.kp = parseInt(document.getElementById("input-p-{{ include.id}}").value) * 0.005;
  this.ki = parseInt(document.getElementById("input-i-{{ include.id}}").value) * 0.005;
  this.kd = parseInt(document.getElementById("input-d-{{ include.id}}").value) * 0.2;
  this.goal = parseInt(document.getElementById("input-goal-{{ include.id}}").value);
  this.reset();
  this.elevator.x = parseInt(document.getElementById("input-start-{{ include.id}}").value);
  this.runTime();
},

stepTime: function() {
  this.runControlFunc();
  this.updateState();
},

runTime: function() {
  this.data = [];
  for (var i = 0; i < 15 / this.timestep; i++) {
    this.stepTime();
    this.data.push([i * this.timestep, this.elevator.x, this.goal]);
  }
  this.graph.updateOptions( { 'file': this.data } );
}

}
ns{{ include.id }}.updateSliders();
</script>
