<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main>
    {% include navigation.html %}
    <article>
      <header class="article-header">
        <h1>{{ page.title }}</h1>
        <div class="article-list-date">
          {{ page.date | date: "%b %-d, %Y" }}
        </div>
      </header>

      <div class="article-content">
        {{ content }}
      </div>

      <br>
      {% include calltoaction.html %}
      <br>
    </article>
  </main>
  <script async src="/mathjax/MathJax.js?config=TeX-MML-AM_CHTML"></script> 
</body>
</html>
