<!doctype html>
<html lang="en">
{% include head.html %}
<body>
  <main role="main">
    <div class="grid grid-centered">
      <div class="grid-cell">
        {% include navigation.html %}
        <article class="article">
          <header class="article-header">
            <h1>{{ page.title }}</h1>
            <div class="article-list-footer">
              <div class="article-list-tags">
                {% for tag in page.tags %}
                  <a href="{{ 'tag/' | relative_url }}{{ tag }}">{{ tag }}</a>
                {% endfor %}
	        {% if page.tags.size != 0 %}
                <span class="article-list-divider">-</span>
	        {% endif %}
                <span class="article-list-date">
                  {{ page.date | date: "%B %-d, %Y" }}
                </span>
              </div>
            </div>
          </header>

          <div class="article-content">
            {{ content }}
          </div>


	  <hr>
	  <br>
          {% include calltoaction.html %}
	  <br>
        </article>
      </div>
    </div>
  </main>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  {% include javascripts.html %}
</body>
</html>
